[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-dotenv = "*"
pytest = "*"
pytest-django = "*"
django-bootstrap-v5 = "*"

[dev-packages]
mock = "*"

[requires]
python_version = "3.7"
